# PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=price_tracker
DB_USER=price_tracker_user
DB_PASSWORD=change_this_password


# Application
APP_ENV=development
LOG_LEVEL=INFO

# Scraping
REQUEST_TIMEOUT=15
USER_AGENT=EcommercePriceTracker/0.1  
